.pingAgentButton {
  float: left;
  clear: both;
  color: #f8a20e;
  margin-top: 15px;
}

.linkText {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
  font-size: 12px;
  float: right;
  margin: 5px;
}

.pingContainer {
  display: flow-root;
}
