.cancelButton {
  color: #f8a20e;
  border-color: #f8a20e;
}

.cancelButton:hover {
  background-color: #f8a20e;
  color: white;
}

.nav-tabs .nav-link.active {
  border-right-color: #f8a20e;
  border-left-color: #f8a20e;
  border-top-color:  #f8a20e;
}

.nav-link:hover {
  cursor: pointer;
}

.tab-content {
  border-color: #f8a20e;
}

.connection {
  padding: 20px;
  width: 150px;
  max-height: 150px;
}

.connectionWrapper {
  border-radius: 25px;
  background: #00000085;
  width: 150px;
  max-height: 150px;
  margin-top: 40px;
  border: 1px solid black;
  border-color: black;
}

.connectionWrapper:hover {
  background: black;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .connection {
    border-radius: 25px;
    background: #00000085;
    padding: 15px;
    width: 120px;
    max-height: 150px;
    margin-top: 40px;
    cursor: pointer;
    border: 1px solid black;
    border-color: black;
    background: black;
  }


  .nav-tabs {
    font-size: 0.67rem;
  }

}
