.messagingBody {
  overflow: scroll;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  border-top: 1px solid #cfd8dc;
  width: 100%;
  height: 250px;
  max-height: 300px;
  background-color: #f4f4f4;
}

.messageInput {
  border-color: #fff;
}
.messageInput:focus {
  border-color: #fff;
}

.sendMessageButtonContainer {
  background-color: #487f45;
  width: 3vw;
  height: 3vw;
  justify-content: center;
  display: flex;
  border-radius: 3vw;
  margin: 1vw;
  border-color: #487f45
}

.sendMessageButtonContainer:hover {
  cursor: pointer;
  background-color: #487f4596;
}


.sendButton {
  top: 2vw;
  position: absolute;
  color: #487f45;
  color: white;
  font-size: 1.1vw;
}

.sendButton:hover {
  cursor: pointer;
}

.sent {
  width: 200px;
/*  height: 64px; */
  border: 2px solid #487f45;
  background-color: #487f45;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 5px;
  float: right;
  clear: left;
  clear: right;
  width: 200px;
  text-align: left;
  overflow-wrap: break-word;
}

.received {
  width: 200px;
  /*height: 64px; */
  border: 2px solid #D0D0D0;
  background-color: 	#FFF;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 5px;
  width: 200px;
  clear: both;
  text-align: left;
  overflow-wrap: break-word;
}


@keyframes ldio-o87ynsbkwv {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-o87ynsbkwv div {
  left: 101.99px;
  top: 33.635px;
  position: absolute;
  animation: ldio-o87ynsbkwv linear 0.9345794392523364s infinite;
  background: #487f45;
  width: 13.02px;
  height: 36.89px;
  border-radius: 6.51px / 7.7469px;
  transform-origin: 6.51px 74.865px;
}.ldio-o87ynsbkwv div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8411214953271027s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.7476635514018691s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.6542056074766355s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.5607476635514018s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.46728971962616817s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.37383177570093457s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.2803738317757009s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.18691588785046728s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.09345794392523364s;
  background: #487f45;
}.ldio-o87ynsbkwv div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #487f45;
}
.loadingio-spinner-spinner-e99p94i3o4p {
  width: 217px;
  height: 217px;
  margin: auto;
  overflow: hidden;
  background: none;
}
.ldio-o87ynsbkwv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-o87ynsbkwv div { box-sizing: content-box; }
/* generated by https://loading.io/ */


#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #000c; /* Black background color with a little transperancy*/
  color: #f00; /* Red text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%; /* Center the snackbar */
  bottom: -60px; /* -60px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@media only screen and (max-width: 375px) {


  .messagingBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }

  .sendButton {
    top: 1.5vw;
    position: absolute;
    color: #487f45;
    color: white;
    font-size: 1.1vw;
  }


}

@media (max-width: 600px) {

  .messagingBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }

  .sendButton {
    top: 4vw;
    position: absolute;
    color: #487f45;
    color: white;
    font-size: 3.5vw;
  }

  .sendMessageButtonContainer {
    background-color: #487f45;
    width: 8vw;
    height: 8vw;
    justify-content: center;
    display: flex;
    border-radius: 5vw;
    margin: 2vw;
    border-color: #487f45
  }

}
