@media (min-width : 500px) {
  .shortenedWidth {
    max-width: 500px;
    padding: 10px;
  }
}

.title {
  margin: 0px;
}

.timestamp {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.content {
  font-size: 15px;
}
