.notificationsBody {
  max-height: 500px;
  overflow: scroll;
}

.manifold_notification {
 display: inline-block;
 padding: 0.25em 0.4em;
 font-size: 75%;
 font-weight: 700;
 line-height: 1;
 text-align: center;
 white-space: nowrap;
 vertical-align: baseline;
 border-radius: 0.25rem;
 color: #fff;
 background-color: #FF0000;
 position: absolute;
  margin-left: 6px;
 top: -6px;
}

.manifold_notification:hover {
 display: inline-block;
 padding: 0.25em 0.4em;
 font-size: 75%;
 font-weight: 700;
 line-height: 1;
 text-align: center;
 white-space: nowrap;
 vertical-align: baseline;
 border-radius: 0.25rem;
 color: #fff;
 background-color: #FF0000;
 position: absolute;
 top: -6px;
 margin-left: 6px;
 cursor: pointer;
}

.bell:hover {
  cursor: pointer;
}
