/* ADDED FOR MANIFOLD START*/
.circle {
  display: inline-flex;
  height: 25px;
  width: 25px;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */

  background-color: black;
  text-align: center;
  font-size: 2em;
  margin-left: 5px;
  margin-right: 5px;
}
.circle-selected {
  display: inline-flex;
  height: 30px; /*30px*/
  width: 30px; /*30px*/
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px 2px rgba(0, 0, 0, 0.19);
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */

  background-color: #ccc;
  text-align: center;
  font-size: 2em;
  margin-left: 5px;
  margin-right: 5px;
}
.circle:hover {
  cursor:pointer;
  /*background: #4286f4;
  /*border: 1px solid blue;*/
  padding-left:1px;
  padding-top:1px;
  padding-bottom:1px;
  padding-right:1px;
}

.circle-selected:hover {
  cursor:pointer;
}

.span btn{
   background:#666;
   display:inline-block;

   margin:10px 10px 0 0;
   padding:5px 10px;
}
.wrapper{
  position: relative;
  border-style:solid;
  border-width: 1px;
  border-color: red;
}
.card-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2D5E8F;
}

.card-overlay-text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-block:hover .card-overlay {
    opacity: 1;
  }

.ribbon {
  padding:0 0 $ribbon-tail 0;
  position:absolute;
  right:0.25em;
  top:-0.25em;
  width:$ribbon-w;

  div {
    background:$ribbon-bg;
    background: linear-gradient($ribbon-hl 0%, $ribbon-bg 100%);
    color:#fff;
    padding:0.5em 0;
    text-align:center;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
  }

  div:after {
    border-left: $ribbon-w/2 solid $ribbon-bg;
    border-right: $ribbon-w/2 solid $ribbon-bg;
    border-bottom: $ribbon-tail solid transparent;
    bottom:0;
    content:'';
    height: 0;
    left:0;
    position:absolute;
    width: 0;
  }
}

.react-autosuggest__container {
  position: relative;
  left: 10%;
}

.react-autosuggest__input {
  width:600px;
  max-width: 600px;
  height: 40px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  overflow: hidden;

}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  left: 5%;
  width: 600px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.search-cancel {
  position: relative;
  margin-left: 10px;
}

.input-group-addon {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position:relative;
  height: 40px;
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 100ms;
    z-index: 2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item:hover > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}
