.logoImage {
  margin-left: 150px;
  width: 200px;
  height: auto;
}

.stickOutText {
  color:black;
  font-weight:bold;
}

.shortenedWidth {
  width: 500px;
  float: left;
}

.select {
  width:100px;
}

.shortSelect {
  width: 50px;
}

.orderCards {
  /*position: relative;
  left:1000px;
  top:200px;*/
  float: right;
}

.card.card2 {
  box-shadow: 3px 3px 3px grey;
  border-style: solid;
  border-width: 8px;
  border-color: #02A5FE;
  width: 300px;
  border-radius: 8px;
  margin: 10px;
  float: right;
  display: block;
}

.viewOrderButton {
  box-shadow: 3px 3px 3px grey;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-left: 1rem;
  float: left;
  background-color: #A9A9A9;
  color: white;
  font-weight: bold;
}

.OrderButton {
  box-shadow: 3px 3px 3px grey;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
  float: right;
  font-weight: bold;
}

.orderTitle {
  width: 200px;
}

.btn.deleteButton {
  box-shadow: 2px 2px 3px grey;
  display: inline-block;
  float: right;
  max-width:20px;
  max-height: 50px;
  /* margin: 1em;
  margin-top: 1.30em; */
  border-radius: 6px;
  margin-right: .4em;
  margin-top: .2em;
  padding-left: .5em;
  cursor: pointer;
  width: 20px;
  height: 23px;
  line-height: 0;
  font-weight: bold;
  font-weight: bold;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 4px;
  background-color: #eee;
}

.defaultToppings {
  float: left;
  width: 150px;
}

.availableToppings {
  float: right;
  width: 800px;
}

/* On mouse-over, add a grey background color */
/*
hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
.checkmarkChecked {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 4px;
  background-color: #00B2EE;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmarkChecked:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-xl {
  max-width: 1000px;
}

.col.toppingCol {
  flex-grow: .2;
}
