.createGameForm {
  color: white;
  height: 10em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.createGameColumn {
  float: left;
  width: 33.33%;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px dotted red;
}

.gameInvitationContainer {
  width: 30%;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: .9vw;
  text-rendering: optimizeLegibility;
  margin: 10px;
  margin-top: 20px;
}

.searchContainer {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  height: 50%;
  border-top: 3px solid red;
}

.searchBarContainer {
  width: 100%;
  margin: 10px;
}

.searchBar {
  height: 40%;
  width: 80%;
}

.spellInput {
  height: 40%;
  width: 38%;
}

.DNDSearchButton {
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
}

.DNDSearchButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.spellCard {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #77684c;
  width: 93%;
  color: wheat;
  border: 1.5px dotted black;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(100, 0, 0, 0.4);
  transition: 0.3s;
}

.spellCard:hover {
  box-shadow: 0 8px 16px 0 rgba(200,0,0,0.4);
  border: 1.5px solid black;
  color: black;
}

.spellCardContainercontainer {
  padding: 2px 16px;
}

.searchResultsContainer {
  border-top: 3px solid red;
  overflow: scroll;
  height: 86.5%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

div.spellCardContainer > h4 {
  font-size: 1.2vw;
}


div.spellCardContainer > p {
  font-size: .8vw;
  margin-bottom: .6vw;
}

.monsterRow {
  display: flex;
  font-size: .8vw;
  margin-bottom: .2vw;
  justify-content: space-between;
  width: 100%;
}

.monsterHeader {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1vw;
  font-weight: bold;
}

.monsterAction {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: .8vw;
}

.monsterAction > span {
  font-weight: bold;
}

.monsterDefinition {
  font-size: .8vw;
  margin-bottom: .2vw;
  display: flex;
}

.monsterDefinition > span {
  font-weight: bold;
  margin-right: 4px;
}

.invitationContainer {
  display: flex;
}

.playersColumn {
  padding: 10px;
}

.playersContainer {
  margin-top: 10px;
  width: 100%;
}

.playerContainer {
  display: flex;
  border: 1px solid red;
  width: 100%;
  padding: 5px;
}

.playerContainer:hover {
  background-color: black;
}

.playerImage {
  width: 15%;
}

.playerName {
  margin: auto auto auto 10px;
}


.recGameInvitationContainer {
  text-align: center;
}

.playerInfoSection {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1vw;
  margin: 10px;
}

.playerInfoAbilities {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.playerInfoImage {
  width: 35%;
}

.playerInfoImageContainer {
  display: flex;
}

.playerInfoName {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.storyBody {
  overflow: scroll;
  border-bottom: 1px solid red;
  width: 100%;
  height: 70%;
}


.DNDsent {
  width: 200px;
  border: 2px solid red;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 5px;
  float: right;
  clear: left;
  clear: right;
  width: 200px;
  text-align: left;
  overflow-wrap: break-word;
}

.DNDreceived {
  width: 200px;
  border: 2px solid #D0D0D0;
  background-color: 	#FFF;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 5px;
  width: 200px;
  clear: both;
  text-align: left;
  overflow-wrap: break-word;
  color: black;
}

.DNDsendMessageButtonContainer {
  background-color: gray;
  width: 3vw;
  height: 3vw;
  justify-content: center;
  display: flex;
  border-radius: 3vw;
  margin: 1vw;
  border-color: red
}

.DNDsendMessageButtonContainer:hover {
  cursor: pointer;
  background-color: red;
}


.DNDsendButton {
  top: 2vw;
  position: absolute;
  color: red;
  color: white;
  font-size: 1.1vw;
}

.DNDsendButton:hover {
  cursor: pointer;
}

.story {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  height: 100%;
  display:flex;
  flex-direction:column;
}

.storyHeader {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  color: red;
}


.DNDmessageInput {
  border-color: #fff;
  height: 70%;
  margin: 10px;
}
.DNDmessageInput:focus {
  border-color: #fff;
}