.loginJumbo {
  background-color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.loginLogo {
  max-width: 100%;
}
.loginContainer {
  text-align: center;
}

.loginDevInfo {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 12px;
    color: rgba(15, 134, 193);
}

.loginIcon {
  color: rgba(15, 134, 193, 0.7);
}

.iconContainer {
  text-align: left;
  max-width: 500px;
}

.centerRow {
  justify-content: center;
}

.iconInfo {
  background-color: inherit;
  border: none;
  padding: .5rem 1.25rem;
}

.iconMsg {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  padding-left: 5px;
  font-size: 16px;
  height: 100%;
}

.teamMemberName {
  margin-bottom: 0px;
}

.teamMemberTitle {
  color: rgb(15, 134, 193);
  font-size: 12px;
  margin-bottom: 0px;
}

.teamMemberItem {
  width: 300px;
  margin-left: 2px;
  margin-right: 2px;
}

.teamMemberContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.teamMemberPic {
  max-width: 500px;
  width: 90%;
  margin-bottom: 15px;
}

.teamDescr {
  max-width: 700px;
}

.popUpWarning {
  padding-top: 13px;
  margin-bottom: 0px;
}

.iconSpacing {
  margin-top: 8px;
  margin-left: 10px;
}
