.pingAgentButton {
  float: left;
  clear: both;
  color: #f8a20e;
  margin-top: 15px;
}

.deleteConnectionButton {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
  float: right;
  clear: both;
  margin-top: 15px;
  border-radius: 20px;
}
