.chatBody {
  overflow: scroll;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  border-top: 1px solid #cfd8dc;
  width: 434px;
  height: 250px;
  max-height: 300px;
}

.sent {
  width: 200px;
/*  height: 64px; */
  border: 2px solid #33b8ff;
  background-color: #33caff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 5px;
  float: right;
  clear: left;
  clear: right;
  width: 200px;
  text-align: left;
  overflow-wrap: break-word;
}

.received {
  width: 200px;
  /*height: 64px; */
  border: 2px solid #5BC236;
  background-color: 	#5BC236;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 5px;
  width: 200px;
  clear: both;
  text-align: left;
  overflow-wrap: break-word;
}


#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #000c; /* Black background color with a little transperancy*/
  color: #f00; /* Red text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%; /* Center the snackbar */
  bottom: -60px; /* -60px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@media only screen and (max-width: 375px) {


  .chatBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }


}

@media (max-width: 600px) {

  .chatBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }

}
