.homeColumn {
  width: 50%;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.displayRow:after {
  content: "";
  display: table;
  clear: both;
}

.D-DButton {
  display: block;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 40%;
  color: white;
}

.DisabledD-DButton {
  display: block;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 40%;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.D-DButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.center-container {
  margin-top: 50%;
  margin-left: 40%;
}

.home {
  background-image: url("https://assets.vg247.com/current//2019/08/dnd-essentials-kit-vg247-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.createGame {
  background-image: url("https://i.pinimg.com/originals/88/ac/9d/88ac9d1382d8f9b4d561948c062af1b0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(0,0,0,.7);
}

.createGameModalFooter {
  justify-content: center;
}
