.column {
  width: 50%;
  background-color: black;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.displayRow:after {
  content: "";
  display: table;
  clear: both;
}

.D-DButton {
  display: block;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 40%;
  color: white;
}

.DisabledD-DButton {
  display: block;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  margin-top: 10px;
  width: 40%;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.D-DButton:hover {
  background-color: red;
  border-color: red;
  color: white;
}

.center-container {
  margin-top: 50%;
  margin-left: 40%;
}
