@media only screen and (min-width: 500px) {

  .profileRowText {
      font-size: 1.5em;
  }

  .serviceHeader {
      font-size: 2em;
      display: inline;
      width: auto;
  }

  .profileServiceSection {
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .shortenedWidth {
      max-width: 500px;
    }

  .avatarImg {
      size: 50px;
      max-height: 100px;
      max-width: 100px;
  }

}

.full-star {
  float: right;
  color: yellow;
}

.full-star:hover {
  float: right;
  color: yellow;
  cursor: pointer;
}

.empty-star {
  float: right;
}

.empty-star:hover {
  float: right;
  cursor: pointer;
}

.invalid {
  border: 1px solid rgb(255, 0, 0);
}

.edit-link {
  text-decoration: underline !important;
  color: #20a8d8 !important;
  display: inline;
  font-size: 0.875rem;
  width: 50px !important;
}

.edit-link:hover {
  text-decoration: underline !important;
  color: #20a8d8 !important;
  cursor: pointer;
  display: inline;
  font-size: 0.875rem;
  width: 50px !important;
}
