.profileRowText {
    font-size: 1.5em;
}

.serviceHeader {
    font-size: 2em;
}

.profileServiceSection {
    padding-top: 20px;
    padding-bottom: 20px;
}

.shortenedWidth {
    max-width: 500px;
  }

.avatarImg {
    size: 50px;
}
