
.preview-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.preview-container > div {
  background-color: #111111;
  padding: 20px 0;
  font-size: 30px;
}

.preview-top-row {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.preview-bottom-row {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.preview-left-column {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}

.preview-right-column {
  text-align: right;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}

.preview-item .left{
  text-align: left;
}

.preview-item .right{
  text-align: right;
}

.preview {
  position: relative;
  cursor: pointer;
}

.preview:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  transition: opacity .3s;
  opacity: 0;
  z-index: 2;
}

.preview:hover:before {
  opacity: 1;
}

.hoverText {
  display: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 70px;
}

.preview:hover .hoverText {
  display: inline;
}

.domain {
  background-color: rgb(75,159,211);
}

.preview canvas {
  background: #eeeeeeee;
  filter: invert(100%);
}

.preview .list-group-item {
  background: inherit;
}

.mirror-display {
    height: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1021;
}

.mirror-display canvas {
    background: #eeeeeeee;
    filter: invert(100%);
}

.mirror-display .list-group-item {
  background: inherit;
}
