.connectionHeader {
  width: 900px;
  height: 100px;
  display: flex;

  align-items: center;
  text-align: center;
}
.icon {
  position: relative;
  float: left;
  margin: 5px;
  height: 100px;
  width: 100px;
}

.edgeInput {
  margin-bottom: 10px;
}

.edit-link {
  text-decoration: underline !important;
  color: #20a8d8 !important;
  display: inline;
  font-size: 0.875rem;
  width: 30px !important;
}

.agentLabel {
  max-height: 170px;
  width: 200px;
  font-size: 23px;
  text-align: center;
}

.agentViaLabel {
  max-height: 170px;
  font-size: 23px;
  text-align: center;
}

.myConnection {
  margin: 70px;
}

.notificationButton {
  float: right;
  margin-left: 5px;
}

.notification {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6c757d;
}

.inviteItem {
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 20px;
  clear: both;
  font-weight: normal;
  color: #263238;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border-width: thin medium thick 1;
  /*border: 0;
  border-bottom: 0;*/

}

.flex-container {
   display: flex;
   flex-wrap: wrap;
}

.flex-container > div {
  margin: 15px;
  margin-top: -10px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

.connection {
  border-radius: 25px;
  background: #000000;
  padding: 20px;
  width: 150px;
  max-height: 150px;
  margin-top: 40px;
  cursor: pointer;
}

.textStickOut {
  color:black;
  font-weight:bold;
}

.chatBody {
  overflow: scroll;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
  border-top: 1px solid #cfd8dc;
  width: 434px;
  height: 250px;
  max-height: 300px;
}

.profilePic {
  float: right;
  border-radius: 50%;
  width: 40px;
}

.sent {
  width: 200px;
/*  height: 64px; */
  border: 2px solid #33b8ff;
  background-color: #33caff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 5px;
  float: right;
  clear: left;
  clear: right;
  width: 200px;
  text-align: left;
  overflow-wrap: break-word;
}

.received {
  width: 200px;
  /*height: 64px; */
  border: 2px solid #5BC236;
  background-color: 	#5BC236;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 5px;
  width: 200px;
  clear: both;
  text-align: left;
  overflow-wrap: break-word;
}

.failedMessage {
  width: 200px;
/*  height: 64px; */
  border: 2px solid #33b8ff;
  background-color: #33caff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 5px;
  float: right;
  clear: right;
  width: 200px;
  text-align: left;
}

.failedMessageIcon {
  float:right;
  margin-top: 35px;
  padding-right: 5px;
  cursor: pointer;
}

.failedMessageIcon:hover {
  float:right;
  margin-top: 35px;
  padding-right: 5px;
  cursor: pointer;
}

.connectionPic {
  float: left;
  border-radius: 50%;
  width: 40px;
}

.actionHeader {
    width: 500px;
    padding: 8px 20px;
    background: #eceff1;
    border-bottom: 1px solid #cfd8dc;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #b0bec5;
    white-space: nowrap;
}

.video {
  display: inline-block;
  vertical-align: top;
}

.image {
  display: inline-block;
  vertical-align: top;
}

.canvas {
  display: none;
}

.makeEdge {
  width: inherit;
  height: inherit;
  color: #87cefa

}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #000c; /* Black background color with a little transperancy*/
  color: #f00; /* Red text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 40%; /* Center the snackbar */
  bottom: -60px; /* -60px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: -60px; opacity: 1;}
}

@media only screen and (max-width: 375px) {
  .connectionHeader {
    width: auto;
    height: auto;
    margin-left: 0;
  }
  .icon {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px;
    padding-left: 0;
    top: 0;
  }

  .agentLabel {
    max-height: 140px;
    width: 150px;
    font-size: 18px;
    text-align: center;
  }

  .myConnection {
    width: 240px;
    margin: 0px;
    margin-left: 0px;
    font-size: 20px;
    text-align: left;
    display: none;
  }

  .notificationButton{
    float: right;
    width: auto;
    margin-left: 170px;
    margin-right: -6px;
  }

  .flex-container {
     display: flex;
     flex-wrap: wrap;
  }

  .dropdown-menu.actionsMenu {
    left: -12px;
  }

  .flex-container > div {
    margin: 0px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin-top: -10px;
  }

  .connection {
    border-radius: 25px;
    background: #000000;
    padding: 20px;
    width: 120px;
    height: 120px;
    margin-left: -20px;
    margin-top: 40px;
    flex-grow: .5;
  }
  .actionHeader{
    width: 300px;
  }
  .btn-success {
    margin-bottom: 10px;
  }

  .chatBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }

  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #000c; /* Black background color with a little transperancy*/
    color: #f00; /* Red text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 38%; /* Center the snackbar */
    bottom: -60px; /* -60px from the bottom */
  }

  #snackbar {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: -60px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: -60px; opacity: 1;}
  }
}

@media (max-width: 600px) {
  .connectionHeader {
    width: auto;
    height: auto;
    margin-left: 0;
  }

  .icon {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0px;
    padding-left: 0;
    top: 0;
    display: inline-block;
  }

  .agentLabel {
    max-height: 140px;
    width: 150px;
    font-size: 18px;
    text-align: center;
  }

  .myConnection {
    width: 240px;
    margin: 0px;
    margin-left: 0px;
    font-size: 20px;
    display: none;
  }

  .notificationButton{
    float: right;
    width: auto;
    margin-left: 170px;
    margin-right: -6px;
  }

  .flex-container {
     display: flex;
     flex-wrap: wrap;
  }

  .dropdown-menu.actionsMenu {
    left: -12px;
  }

  .flex-container > div {
    margin: 0px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin-top: -10px;
  }

  .connection {
    border-radius: 25px;
    background: #000000;
    padding: 20px;
    width: 120px;
    height: 120px;
    margin-left: 0px;
    margin-top: 40px;
    flex-grow: .5;
  }
  .actionHeader{
    width: 300px;
  }
  .btn-success {
    margin-bottom: 10px;
  }

  .chatBody {
    overflow: scroll;
    border-left: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    width: 289px;
    height: 250px;
    max-height: 250px;
  }

  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #000c; /* Black background color with a little transperancy*/
    color: #f00; /* Red text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 39%; /* Center the snackbar */
    bottom: -60px; /* -60px from the bottom */
  }

  #snackbar {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: -60px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: -60px; opacity: 1;}
  }
}
