.shortenedWidth {
  max-width: 500px;
  padding: 10px;
}

.listGroup {
  margin: 10px;
}

.eta {
  margin-top: 5px;
  margin-right: 10px;
  float:right;
  padding: 7px;

}

.minimize {
  display: inline;
  margin-right: 2px;
}

.listItems {
  padding: 0px;
  height: 45px;
}

.insideItem {
  margin: 10px;
  display: inline-block;
}
