.shortenedWidth {
  max-width: 500px;
  padding: 10px;
}

.eta {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float:right;
}

.minimize {
  display: inline;
  margin-right: 2px;
}
